@use "variables" as v;
@use "mixins" as m;

body {
    margin:0;
    background-color: v.$primary-color;
    color: v.$secondary-color;
    font-family: v.$primary-font;

    a {
        text-decoration:none;
        color: v.$primary-color;
    }

    i {
        font-size:xx-large
    }


.container {

    nav {
        // position
        position:fixed;
        left:0;
        top:0;
        z-index:2;
        transform:translateX(-95%);
        
        // size
        height: 100%;
        padding:0 32px;

        //styling
        background-color: v.$body-background;
        border: 2px solid v.$primary-color;
        color: v.$primary-color;

        // modifiers
        transition: 0.5s ease-in-out;

        .logo {
            text-align:center;
        }
        .nav-links {
            // position: 
            @include m.flexRowJustifySpace;
            

            //size
            height:40px;
            padding-left:12px;
            padding: 0 12px;
            margin: 50px 0;

            // styling
            border-radius:20px;

            a {
                @include m.textShadow;
                color: v.$primary-color;
            }

            i{
                @include m.textShadow;

                
            }
        }

        // animation
        .nav-links:hover {
            filter:brightness(1.2);
            background-color: #2c7e5c;
            }
            
    }

    header {
        text-align:center;
        align-items: center;
        grid-area: header;
        h1 {
            font-family:'Fasthand', cursive;
            font-size: 3rem;
        }
    }

    main {
        text-align: center;
        grid-area: main;

        img {
            @include m.roundedImage;
        }

        .deck {
        @include m.flexRowJustifyCenterWrap;
            margin-top: 26px;
        
            .card {
                @include m.roundedImage;
                width: 25rem;
                background-color: v.$body-background;

                .card-img {
                    position:relative;
                    height: 250px;
                    overflow: hidden;
                    

                    i {
                        position:absolute;
                        top:15px;
                        right: 15px;
                        z-index:1;
                        font-size:large;
                        font-size: 3rem;
                        color: v.$secondary-color;
                        cursor:pointer;
                    }

                    img {
                        width:100%;
                        
                    }
                }

                .card-title {
                    font-family: "fasthand", cursive;
                }
                

                .card-category {
                    @include m.textShadow;
                    padding-right:10px;
                    text-align:end;
                    
                }

                .card-text {
                    height: 20px;
                    overflow: hidden;
                    
                    .arrowDown{
                        font-size:large;
                        color: v.$secondary-color;
                    

                    &.arrowUp {
                        transform: rotate(0.5turn);
                    }
                }
                    button {
                        padding: 0;
                        margin: 0;
                        background-color: v.$body-background;
                        border: none;
                        color: v.$primary-color;
                        font-size: 1.5rem;
                        cursor: pointer;
                        
                    }
                }
                

            }
        }
    }
}

// for eventdetail.html
.big-card {
    @include m.roundedImage;
    @include m.flexRow;
    width: 80%;
    margin: 30px auto;
    background-color: v.$body-background;
    
    #big-card-title-img {
        width:50%;
        border-radius: 10% 0 0 10%;
        box-shadow: none;
    }


    .card-about-info {
        @include m.flexColumn;
        padding: 0 32px; 

        .card-about-info-text {
                padding: 0 32px;
                text-align: center;

                .arrowUp {
                    transform: rotate(0.5turn);
                }

                .arrowDown {
                    font-size:large;
                    color: v.$secondary-color;
                }

                #card-text-13 {
                    display:none;
                    transition:0.5s ease-in-out;

                }

                button {
                    @include m.buttonHover;
                    padding: 0;
                    margin: 0;
                    background-color: v.$body-background;
                    border: none;
                    color: v.$primary-color;
                    font-size: 1rem;
                    cursor: pointer;
                   }  
            }

    
    }
    .card-category{
        @include m.textShadow;
        padding-right:40px;
        padding-top: 40px;
        text-align:end;

    }
    .gallery {
        @include m.flexRowJustifySpace;
        flex-wrap: wrap;
        padding: 0 32px;

        img {
            width: 20%;
            gap: 5px;
            
        }

    .gallery-item:hover {
        width: 100%;
    }
    }
}
        .form-createEvent{
        @include m.flexColumn;
        justify-content: center;
        align-items: center;
        padding: 20px 0 32px;
        margin: 30px auto;
        width:60%;
        height: 100%;
        background-color: v.$body-background;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        font-family: v.$primary-font;
    
        .inputField {
            @include m.flexRow;
            justify-content: space-around;
            margin-bottom:20px;
            width:90%;

            i {
                left: 0;
                padding-left:30px;
                padding-top: 1rem;
                cursor:pointer;
            }
        }

        label {  
            padding-right: 10px;
            padding-top:20px;
            width:25%;
        }

        #nameInput, #dateInput, #locationInput  {
            padding: 12px 20px;
            margin: 8px 0;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: v.$secondary-background-color;
        }
            .imageinput{
                opacity:0;
                left:0;
                z-index:1;
                margin:20px;
                cursor:pointer;
            }
        
        textarea {
            padding: 12px 20px;
            margin: 8px 0;
            width: 100%;
            height: 150px;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: v.$secondary-background-color;
            font-family: v.$primary-font;
            color: grey;
        }

        #optionCategory {
            padding: 12px 20px;
            margin: 8px 0;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: v.$secondary-background-color;
        }

        button {
            @include m.buttonHover;
            cursor: pointer;
            width: 15rem;
            height: 3rem;
            border-radius: 25px;
            background-color: v.$primary-color;
            font-family: v.$primary-font;
            font-size: 1.1rem;
            color: v.$secondary-color;

            i {
                padding-right: 4rem;
                color: v.$secondary-color;
            }
            
        }
    }
    

.main-aboutUs {
    @include m.roundedImage;
    @include m.flexColumn;
    align-items: center;
    margin: 30px auto;
    padding: 0 32px;
    width: 80%;
    background-color: v.$body-background;

    .owner-section{
        @include m.flexRow;
        justify-content: space-around;
        flex-wrap:wrap;
        padding: 20px 0;
      
        .owner-card {
        @include m.flexColumn;
        @include m.roundedImage;
        justify-content: space-between;
        background-color: v.$primary-color;

        img {
            border-radius: 40px 40px 0 0;
        }

        a {
            text-decoration: none;
            color: v.$secondary-color;
        }

        }

        .owner-comments{
            padding-top: 30px;
           width:25%;
           
        }
}

    .form-aboutUs{
        @include m.flexColumn;
        @include m.roundedImage;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 30px 0;
        width: 70%;
        background-color: v.$primary-color;

        .aboutUsInput {
            padding: 12px 20px;
            margin: 8px 0;
            width: 80%;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: v.$secondary-background-color;
            font-family:v.$primary-font;
        }

        .aboutUsInputField {
            @include m.flexRowJustifySpace;
            width: 80%;
        }

        textarea {
            padding: 12px 20px;
            margin: 8px 0;
            width: 80%;
            height: 150px;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: v.$secondary-background-color;
            font-family: v.$primary-font;
            color: grey;
        }

        .form-aboutUs-button{
            @include m.buttonDesign;
            @include m.buttonHover;

        }
    
    }


}

.blurryBackground{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 2;
}

.popUpMessage {
    @include m.roundedImage;
    display:none;
    position: fixed;
    top: 35%;
    left: 40%;
    z-index: 3;
    width: 30rem;
    height: 20rem;
    background-color: v.$primary-color;
    text-align:center;

    .closePopUpX {
    position: absolute;
    top: 0;
    left: 0;
    }
    h2{
        padding:2rem;
    }
    .closePopUp{
        @include m.buttonDesign;
        @include m.buttonHover;
        margin-top: 3rem;


    } 

    }

}


@media(max-width: 1280px) {
    nav {



        .nav-link-text {
            display:none;
        }
}

    
}

@media(max-width: 1000px) {

body{
    main {
        width:100%;
        margin-top: 150px;
    }

    .container {
        @include m.flexColumn;
        align-items: center;

        nav {
            @include m.flexRow;
            justify-content:space-around;
            width:100%;
            height:100px;

        
            .logo {
                width: 30px;
            }
        }


            header {
                margin-top:200px;
            }
   }

   .form-createEvent {
    width:80%;
   }
  } 


}


@media(max-width:600px){
 
    #big-card-title-img {
        display:none;
    }

    .main-aboutUs {
        #teamImg{
            width: 25%;
        }

    }

}

